<section class="content"  style="padding-top:30px">
  <!-- Default box -->
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col-6">
                  <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                      Xóa vai trò
                  </div>
              </div>
              <div class="col-6">
                  <div class="d-flex justify-content-end align-items-center">
                      <a href="/admin/roles" class="btn btn-secondary">
                          <i class="fas fa-arrow-left"></i> Back
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-body">
          <form action="/admin/roles/delete/<%= role.id %>" method="POST">
              <div class="form-group">
                  <label class="control-label col-md-2" for="name">Tên:</label>
                  <input type="text" class="form-control" name="name" value="<%= role.name %>" readonly>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger custom-btn">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
          </form>
      </div>
  </div>
</section>