<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Trang chủ - người dùng</h1>
        <nav>
            <ul>
                <li><a href="/admin/roles">Admin</a></li>
                <li><a href="/user/roles">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <%- body %> <!-- Nội dung chính của từng trang sẽ được chèn vào đây -->
    </main>
    
    <footer>
        <p>© 2024 Connectify</p>
    </footer>
</body>
</html>
