<section class="content"  style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Thêm phân quyền
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/userRoles" class="btn btn-secondary">
                          <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/admin/userRoles/create" method="POST">
                <div class="form-group">
                    <label class="control-label col-md-2" for="user_id">Người dùng:</label>
                    <select class="form-control" name="user_id" required>
                        <option value="" disabled selected>Hãy chọn người dùng</option>
                        <% users.forEach(function(user) { %>
                            <option value="<%= user._id %>"><%= user.username %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="role_id">Vai trò:</label>
                    <select class="form-control" name="role_id" required>
                        <option value="" disabled selected>Hãy chọn vai trò</option>
                        <% roles.forEach(function(role) { %>
                            <option value="<%= role._id %>"><%= role.name %></option>
                        <% }); %>
                    </select>
                </div>
              <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                      <button type="submit" class="btn btn-primary custom-btn">
                          <i class="fas fa-plus"></i> Create
                      </button>
                  </div>
              </div>
            </form>
        </div>
    </div>
  </section>
  