<section class="content" style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-end text-danger text-uppercase">
                    <div class="d-flex justify-content-start align-items-center text-primary text-uppercase">
                        Chi tiết phân quyền
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a href="/admin/userRoles/edit/<%= userRole._id %>" class="btn btn-warning mr-2">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="/admin/userRoles" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="text-primary">Thông tin phân quyền</h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Mã phân quyền:
                        </dt>
                        <dd class="col-sm-9">
                            <%= userRole._id %>
                        </dd>

                        <dt class="col-sm-3">
                            Người dùng:
                        </dt>
                        <dd class="col-sm-9">
                            <%= userRole.user_id ? userRole.user_id.username : 'Không xác định' %>
                        </dd>

                        <dt class="col-sm-3">
                            Vai trò:
                        </dt>
                        <dd class="col-sm-9">
                            <%= userRole.role_id ? userRole.role_id.name : 'Không xác định' %>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
