<section class="content" style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Xóa Bình Luận
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/comments" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nội dung bình luận:</dt>
                <dd class="col-sm-9"><%= comment.content %></dd>
                
                <dt class="col-sm-3">Người dùng:</dt>
                <dd class="col-sm-9"><%= comment.user_id.username %></dd>

                <dt class="col-sm-3">Bài viết:</dt>
                <dd class="col-sm-9"><%= comment.post_id.title %></dd>
            </dl>
            <form action="/admin/comments/delete/<%= comment._id %>" method="POST">
                <p>Bạn có chắc chắn muốn xóa bình luận này không?</p>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger custom-btn">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
