<section class="content"  style="padding-top:30px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center text-danger text-uppercase">
                        Thêm theo dõi
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/admin/follows" class="btn btn-secondary">
                          <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/admin/follows/create" method="POST">
                <div class="form-group">
                    <label class="control-label col-md-8" for="follower_id">Người dùng thực hiện theo dõi: </label>
                    <select class="form-control" name="follower_id" required>
                        <option value="" disabled selected>Hãy chọn người dùng thực hiện theo dõi</option>
                        <% users.forEach(function(user) { %>
                            <option value="<%= user._id %>"><%= user.username %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8" for="following_id">Người dùng được theo dõi</label>
                    <select class="form-control" name="following_id" required>
                        <option value="" disabled selected>Hãy chọn người dùng được theo dõi</option>
                        <% users.forEach(function(user) { %>
                            <option value="<%= user._id %>"><%= user.username %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary custom-btn">
                            <i class="fas fa-plus"></i> Create
                        </button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
  </section>
  